body {
    font-family: Arial, sans-serif;
    background-color: #22232e;
    color: #e0ffff;
    margin: 0;
    padding: 20px;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

#gallery img, #gallery video {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

#gallery img:hover, #gallery video:hover {
    transform: scale(1.1);
}

#upload {
    display: none; /* Cache le bouton de sélection de fichier */
}

#addToGallery, #deleteFromGallery {
    background-color: #492d7b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addToGallery:hover, #deleteFromGallery:hover {
    background-color: #6a4595;
}

#gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

#gallery img:hover {
    transform: scale(1.1);
}

#cameraButton {
    background-color: #492d7b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#cameraButton:hover {
    background-color: #6a4595;
}
