body {
    font-family: Arial, sans-serif;
    background-color: #22232e;
    color: #e0ffff;
    margin: 0;
    padding: 20px;
}

.sliding-switch {
    height: 28px;
    width: 72px;
    position: relative;
}

.outer-switch-box {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: inline-block;
    border-radius: 20px;
    position: relative;
    box-shadow: inset 0 1px 3px 0px #818181, 0px 1px 2px 1px white;
    transition: all 0.3s ease;
    transition-delay: 65ms;
    position: absolute;
    z-index: 1;
}

.inner-switch-box {
    position: relative;
    width: 175px;
    transition: all 0.3s ease;
}

.switch-checkbox:checked+.outer-switch-box .inner-switch-box {
    left: 20px;
}

.switch-checkbox:not(:checked)+.outer-switch-box .inner-switch-box {
    left: -27px;
}

.switch-checkbox:checked+.outer-switch-box {
    background: #492d7b;
}

.switch-checkbox:not(:checked)+.outer-switch-box {
    background: #dbdbdb;
}

[type="checkbox"] {
    margin: 0;
    padding: 0;
    appearance: none;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
}

.unchecked-text{
    color: black !important;
    font-weight: 700;
}

.btn-heading{
    color: black;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', 'sans-serif';
    padding: .4vw 0;
}

#accessGallery {
    background-color: #492d7b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#accessGallery:hover {
    background-color: #6a4595;
}

#setPassword {
    background-color: #492d7b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#setPassword:hover {
    background-color: #6a4595;
}

.password-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

#resetPassword {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#resetPassword:hover {
    background-color: #c0392b;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.slider-title-container {
    margin-bottom: 10px;
}

.slider-title {
    font-weight: bold;
    font-size: 18px;
}


.checkbox {
  display: none;
}

.slider {
  width: 60px;
  height: 30px;
  background-color: lightgray;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 4px solid transparent;
  transition: .3s;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25) inset;
  cursor: pointer;
}

.slider::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(-30px);
  border-radius: 20px;
  transition: .3s;
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:checked ~ .slider::before {
  transform: translateX(30px);
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:checked ~ .slider {
  background-color: #6a4595;
}

.checkbox:active ~ .slider::before {
  transform: translate(0);
}