

@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');


*{
margin:0;
}


body{
box-sizing:border-box ;
font-family: 'Otomanopee One', sans-serif;

}


.main{
background-color:black;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.main .wrapper{
background-color:#000000;
padding:15px 40px;
color:white;
font-size:30px;
}

